<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<title>AngularJS 模型</title>
</head>
<body>
	<h1>AngularJS ng-model 指令</h1>
	<h3><pre> 
	验证用户输入
	input type="email" name="myAddress" ng-model="text"
	ng-show="myForm.myAddress.$error.email"
	</pre></h3>
	
	<form ng-app="" name="myForm">
	    Email:
	    <input type="email" name="myAddress" ng-model="text">
	    <span ng-show="myForm.myAddress.$error.email">不是一个合法的邮箱地址</span>
	</form>
	
	<p>在输入框中输入你的游戏地址，如果不是一个合法的邮箱地址，会弹出提示信息。</p>

</body>
</html>