<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<title>AngularJS 指令</title>
</head>
<body>
	<h1>AngularJS 数据绑定</h1>
	<h3><pre> 
	上面实例中的 {{ firstName }} 表达式是一个 AngularJS 数据绑定表达式。
	
	AngularJS 中的数据绑定，同步了 AngularJS 表达式与 AngularJS 数据。
	
	{{ firstName }} 是通过 ng-model="firstName" 进行同步。
	
	使用 ng-init 不是很常见。您将在控制器一章中学习到一个更好的初始化数据的方式。
	</pre></h3>
	
	<div ng-app="" ng-init="quantity=1;price=5">
	
		<h2>价格计算器</h2>
		
		数量： <input type="number" ng-model="quantity">
		价格： <input type="number" ng-model="price">
		
		<p><b>总价：</b> {{ quantity * price }}</p>
	
	</div>

</body>
</html>